.inline {
    /* inline: não quebra de linha, largura miníma, só aceita margem e preenchimento horizontal */
    display: inline;
    margin-top: 30px; /*não aceita*/
    margin-bottom: 30px; /*não aceita*/
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 10px; /*não aceita*/
    padding-bottom: 10px; /*não aceita*/
    padding-left: 20px;
    padding-right: 20px;
}
.block {
    /* block: quebra de linha, largura máxima, aceita preenchimento e margin vertical  */
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.inline-block {
    /*inline-block: não quebra de linha */
    display: inline-block;
    margin-top: 30px;
    padding-top: 10px;
    

}